::selection{text-shadow: none;background: lime;}
::-moz-selection{text-shadow: none;background: lime;}
body{ background: #000000;}
.wrapper{
  background: url("../img/matrix.gif") repeat center top;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
header{
  margin: 5% auto 2%;
.logo{max-width: 521px;max-height: 178px;width: 100%;}
}
.block1{
  padding: 2em;
  background: -webkit-linear-gradient(35deg, #ececec 35%, #f9f9f9 53%, #ececec 54%, #ffffff 100%);
  background: -moz-linear-gradient(35deg, #ececec 35%, #f9f9f9 53%, #ececec 54%, #ffffff 100%);
  background: -o-linear-gradient(35deg, #ececec 35%, #f9f9f9 53%, #ececec 54%, #ffffff 100%);
  background: -ms-linear-gradient(35deg, #ececec 35%, #f9f9f9 53%, #ececec 54%, #ffffff 100%);
  background: linear-gradient(55deg, #ececec 35%, #f9f9f9 53%, #ececec 54%, #ffffff 100%);
}
.terminal{color: lime;
  background: black;
  display: block;
  padding: 1em;}