* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: auto;
}

.wrapp {
    width: 1000px;
    margin: auto;
    position: relative;
}

body {
    font-family: monospace, serif, 'Roboto-Regular';
    color: #fff;
}


h1 {
    font-size: 56px;
}

header {
    background: #333333;
    padding: 40px 0;
    vertical-align: top;
}

header p {
    text-indent: 65px;
}

header span {
    display: inline-block;
    float: right;
}

.git {
    display: inline-block;
    float: right;
    color: #fff;
    background: url('../images/git.png') left top no-repeat;
    padding: 15px 0 5px 35px;
}

.welcome {
    background: #2c3e50;
    padding: 40px 0;
}

.run {
    background: #34495e;
    padding: 40px;
}

.choose {
    background: #7f8c8d;
    padding: 40px 0;
}

.contribute {
    background: #95a5a6;
    padding: 40px 0;
}

ul > li {
    list-style: none;
}
ul > li:before {
    content: '>>';
    display: inline-block;
    font-size: .7em;
    padding-right: 5px;
}

.credits {
    background: #bdc3c7;
    padding: 40px 0;
    text-align: center;
}
.credits a {
    color: #333;
    display: inline-block;
    margin-top: 20px;
}

.release {
    margin-left: 105px;
}

pre code {
    display: inline-block;
    background: #000;
    color: lawngreen;
    padding: 10px;
    box-shadow: 2px 2px 5px #666666, -2px -2px 5px #666666;
    position: relative;
    border-radius: 5px;
    width: 100%;
}

pre code div {
    background: #d8d8d8;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

pre code div span {
    width: 12px;
    height: 12px;
    border-radius: 280px;
    background: #bccecf;
    text-align: center;
    display: inline-block;
    margin: 5px 3px 0;
    cursor: pointer;
    border: 1px solid #a0a0a0;
}
pre code div span:first-child {
    background-color: darkorange;
}

footer {
    color: #333333;
    text-align: center;
    font-size: 11px;
    border-top: 1px solid #ddd;
    padding: 5px 0;
}

footer span {
    color: #c0392b;
}

footer a {
    color: #c0392b;
    text-decoration: none;
}
